{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post"  name='registration' onSubmit="return formValidation();">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>
        <button class='dt-button' type="submit" >Register</button>
    </form>
{% endblock %}
{% block scripts %}
<script>
// check that password is equal to confirmation     
function formValidation()
{
    if (document.registration.password.value === document.registration.confirmation.value)
    { 
        return true;
    }
    else{
        $.toaster("Password doesn't match", {
            text:'Error'
        });
        document.registration.confirmation.focus()
        return false;

    }
}
</script>


{% endblock %}
